
BraveSoftware/

dconf/

dunst/

geany/

GitKraken/

gtk-3.0/

Kvantum/

neofetch/

networkmanager-dmenu/

nitrogen/

obmenu-generator/

plank/

pulse/

qBittorrent/

qt5ct/

ranger/

rofi/

spotify/

systemd/

Thunar/

xarchiver/

xfce4/

user-dirs.locale

user-dirs.dirs

*.conf

mimeapps.list
