
.gitconfig
.bash_history
.bash_logout
.bash_profile
.bashrc
/.cache
/.config/arcolinux-welcome-app
/.config/autostart
.config/baloofileinformationrc
.config/baloofilerc
/.config/BraveSoftware
/.config/Code - OSS
.config/code-flags.conf
.config/dconf/user
.config/dolphinrc
/.config/dunst
/.config/fastfetch
/.config/GitHub Desktop
/.config/go
/.config/variety
/.config/vesktop
.config/user-dirs.dirs
.config/user-dirs.locale
/.config/session
/.config/qBittorrent
/.icons
/.gnupg
.gtkrc-2.0
/.local/share/dolphin
/.local/share/fish
/.local/share/fonts
/.local/share/gvfs-metadata
/.local/share/kio
/.local/share/kwalletd
/.local/share/kxmlgui5
/.local/share/nvim
/.local/share/nwg-look
/.local/share/qBittorrent
.local/share/recently-used.xbel
/.local/share/sddm
/.local/share/Trash
.local/share/user-places.xbel
.local/share/user-places.xbel.tbcache
/.local/share/zed
/.local/state
/.mozilla
/.npm
/.parallel
/.pki
.screenrc
/.ssh
/.themes
/.vim
.viminfo
.wget-hsts
/Downloads
/go
/.config/rofi
/.config/hyde
/.config/xsettingsd
/.config/wlogout
/.config/qt5ct
/.config/qt6ct
/.config/rog
/.config/swappy
/.config/swaylock
/.config/pulse
.config/pavucontrol.ini
/.config/paru
/.config/nwg-look
/.config/Kvantum
.config/knfsshare
.config/kwalletmanagerrc
.config/kwalletrc
/.config/lazygit
.config/libinput-gestures.conf
/.config/menus
/.config/kde.org
.config/kdeglobals
/.config/gtk-3.0
.config/gtk-4.0
.gitconfig
.gitconfig
/.local/share/io.appflowy.appflowy
/code
.nuxtrc
/.config/dbgate
/.dbgate
/.local/share/applications
/.local/share/hoppscotch
/.local/share/io.hoppscotch.desktop
/.config/io.hoppscotch.desktop
.config/mimeapps.list
